@font-face {
    font-family: 'iconfont';
    src: url('iconfont.ttf?t=1652361520305') format('truetype');
  }

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    background-color: #e9bb1d;
    color: #f3f9f2;
    padding: 0.2rem;
    margin: 0px 0.3rem;
    /* border-radius: 0.5rem; */
}

pre>code {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 0px;
    margin: 1rem 1rem;
    border-radius: 0;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #f3f9f1;
    background-color: inherit;
}

pre {
    background-color: #424c50;
    border-radius: 20px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    line-height: 0.8rem;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

::-webkit-scrollbar {

    display: none;
    /* Chrome Safari */

}

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    /* pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    } */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

a,
a:visited {
    color: #9b4400;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #ffffff;
    background-color: #9b4400;
}

a::after{
    content: "\e756";
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

h1,
h2,
h3,
h4 {
    margin: 1.4rem 0 .5rem;
    font-weight: inherit;
}

h3::before {
    content: "[";
    margin-right: 5px;
    color: #ff2121;
}

h3::after {
    content: "]";
    margin-left: 5px;
    color: #ff2121;
}

h4::before {
    content: "[";
    margin-right: 5px;
    color: #c93756;
}

h4::after {
    content: "]";
    margin-left: 5px;
    color: #c93756;
}

h5::before {
    content: "[";
    margin-right: 5px;
    color: #f47983;
}

h5::after {
    content: "]";
    margin-left: 5px;
    color: #f47983;
}

h6::before {
    content: "[";
    margin-right: 5px;
    color: #ffb3a7;
}

h6::after {
    content: "]";
    margin-left: 5px;
    color: #ffb3a7;
}

h1{
    margin-top: 0;
    font-size: 2.8rem;
    font-weight: 900;
    color: #9d2933;
}

h2 {
    font-size: 2.5rem;
    font-size: 2.5rem;
    border-left: 7px solid #c3272b;
    padding-left: 0.5rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: .88rem;
}

small {
    font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
    max-width: 100%;
}

blockquote {
    background-color: #e9e7ef;
    padding: 3rem 1.5rem;
    margin: 0;
    margin-bottom: 2rem;
    position: relative;
}

blockquote::before {
    content: "\e63d";
    font-family: "iconfont" !important;
    font-size: 1.5rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 1rem;
    top: 0.2rem;
}

blockquote::after {
    content: "\e63e";
    font-family: "iconfont" !important;
    font-size: 1.5rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 1rem;
    bottom: 0.2rem;
}

strong {
    font-weight: 800;
}

hr {
    border: 2px solid #896c39;
    border-radius: 50px;
    /* box-shadow: 2px 2px 2px #1c202d; */
    width: 100%;
}

html {
    border: 10px solid #9d2933;
    font-size: 22px;
    background-color: #f0f0f4;
    overflow-y: hidden;
}

body {
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: #5d513c;
    font-family: serif;
    line-height: 1.85;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::selection {
    background: #eacd7650;
}

::-moz-selection {
    background: #eacd7650;
}

#ignotion-header {
    text-align: left;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0px 5px 20px #d0d0d6;
    background-color: #fffbf0;
    color: #9d2933;
}

#ignotion-main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    overflow-y: auto;
}


.ignotion_navigation_sub {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

span.ignotion_navigation_category_name {
    display: block;
    font-weight: bolder;
    font-size: 1.121rem;
    border-bottom: 1px solid #5d513c;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

span.ignotion_navigation_category_name::before{
    content: "\e614";
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.5rem;
}

.ignotion_navigation_sub a {
    font-size: .88rem;
}

#ignotion-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 2rem 2rem 0px 1rem;
    box-sizing: border-box;
}


#ignotion-sider {
    flex: 1;
    overflow-y: scroll;
    height: 100%;
    padding: 2rem 1rem 2rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

#ignotion-sider-toc{
    padding: 2rem 0px 0px 0px;
    flex:1;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
}

#ignotion-sider-toc>.ignotion-toc{
    border-left: 1rem solid #e9e7ef;
    padding-left: 0px;
    position: relative;
}

#ignotion-sider-toc>.ignotion-toc a{
    border-left: 1rem solid #e9e7ef;
    position: absolute;
    left: -1rem;
    padding-left: 0.5rem;
}

#ignotion-sider-toc>.ignotion-toc a::after{
    content: unset;
}

#ignotion-sider-toc>.ignotion-toc::before{
    content: unset;
}

#ignotion-author-time-copyright {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    display: block;
    text-align: center;
}


.ignotion-toc{
    /* display: flex;
    flex-direction: column; */
    border-left: 3rem solid #e9e7ef;
    padding-left: 1rem;
    position: relative;
    min-height: 5rem;
    flex-shrink: 0;
}

.ignotion-toc a:hover{
    color: #c93756;
    background-color: unset;
}
.ignotion-toc a::after{
    content: "\e7c3";
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ignotion-toc::before {
    left: -3rem;
    top: 1rem;
    content: "目录";
    font-size: 1.5rem;
    position: absolute;
    transform: rotate(-90deg);
    width: fit-content;
    color: #d2cfda;
}
@media screen and (max-width:1439px) {
    html{
        font-size: 18px;
    }
}

@media screen and (max-width:1200px) {
    html{
        font-size: 20px;
        border: 0px;
        border-top: 0.5rem solid #9d2933;
    }
    #ignotion-sider-toc{
        display: none;
    }
}

@media screen and (max-width:992px) and (orientation : portrait)  {
    html {
        font-size: 32px;
        border: 0px;
        border-top: 0.5rem solid #9d2933;
    }

    #ignotion-header {
        height: fit-content;
    }

    #ignotion-header h1{
        font-size: 2rem;
        line-height: 3rem !important;
    }

    #ignotion-main {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    #ignotion-content {
        flex: 3;
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 2rem;
        box-sizing: border-box;
        overflow: hidden;
    }

    #ignotion-sider {
        flex: 1;
        height: fit-content;
        padding: 2rem;
        box-sizing: border-box;
        overflow: auto;
    }

    #ignotion-sider-toc{
        display: none;
    }

    #ignotion-content>.el-backtop{
        display:hidden;
    }

    #ignotion-main>.el-backtop{
        display:unset;
    }
}

.el-backtop{
    color: #fff;
    background-color: #c3272b;
    height: 3rem;
    width: 3rem;
    border-bottom: 10px solid #60281e80;
    border-radius: 0px;
    right: 2rem!important;
    bottom: 2rem!important;
    text-align: center;
    box-sizing: border-box;
    font-size: 1rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.el-backtop>i{
    line-height: 3rem;
}

.el-backtop:hover{
    background-color: #b02126;
    border-bottom: 10px solid #683930;
}